* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: row;
}

.main {
	display: flex;
	max-width: 848px;
	position: relative;

}

.image, .imageSlide {
	position: relative;
}


.container {
	position: relative;
	height: 900px;
	float: left;
	display: flex;
	border: 5px solid white;
	padding: 5px;
	background-color: black;
	width: 50vw;
}

#containerTwo {
	height: 900px;
	overflow: hidden;
	border: 5px solid white;
	padding: 5px;
	background-color: black;
}


.option {
	margin-left: 20px;
	position: absolute;
	color: whitesmoke;
	z-index: 1;
	bottom: 20px;
	width: 25vw;

}

.option > div {
	background-color: transparent;
	width: 90%;
	margin-bottom: 10px;
	margin-left: 5px;
}

.option > div:hover {
	transform: scale(1.2);
	margin-left: 20px;
}

.directions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#up, #down, #left, #right {
	width: 100%;
}

.merge {
	display: flex;
}


input[type="range"] {
	z-index: 1;
	position: absolute;
}

#opac, #ang, #scal {
	position: relative;
	float: right;
	font-size: 16px;
	z-index: 1;
	left: 0px;
	margin: 0;
}

label {
	font-weight: bold;
}

button {
	background: blanchedalmond;
	border-radius: 5px;
	border: 3px solid ghostwhite;
	box-shadow: 0 0 5px ghostwhite;
	margin: 5px;
}





button:hover {
	background: blanchedalmond;
	border-radius: 5px;
	border: 3px solid ghostwhite;
	box-shadow: 0 0 10px ghostwhite;
	margin: 5px;
	transform: scale(1.1);
	font-weight: bold;
	text-shadow: 0 0 3px white;
}

.overlay {
	display: flex;
	position: absolute;
	transition: 1s ease;
	opacity: 0.6;
	bottom: 0;
	visibility: hidden;
	height: 900px;
}

p {
	position: absolute;
	background-color: none;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	z-index: 1;
	margin: 5px;
}

#name, #nameS {
	margin-top: 40px;
}

#change {
	position: absolute;
	display: flex;
	color: black;
	z-index: 1;
	width: 100px;
	margin-top: 5px;
}

@media screen and (max-width: 640px) {
	body {
		display: flex;
		flex-direction: column;

	}
	.main {
		max-width: 100vw;
		display: flex;
		flex-direction: column;
	}

	.container {
		width: 100vw;
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		margin-bottom: 50px;
	}

	.overlay {
		width: 100vw;
		height: auto;
		top: 0;
		left: 0;
	}

	.option {
		width: 100vw;
	}

	.merge {
		flex: 0 2 auto;

	}
}
